@font-face {
    font-family: 'TypoTFC';
    src: url('assets/Fonttfc-Regular\ \(1\).otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'TypoTFC', system-ui, -apple-system, 'Segoe UI', Roboto, "Helvetica Neue", Arial, sans-serif;

}

.container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.parent {
    display: flex;
    width: calc(100vw * 5); /* 5 actes */
    height: 100vh;
}

.scale {
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    height: 100vh;
    position: relative;
    flex: 0 0 100vw;
}

.acte {
    display: flex;
    height: 100vh;
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    flex: 0 0 100vw;
    justify-content: center;
    align-items: center;
    color: white;

}

.acte {
    position: relative;
    overflow: hidden;
}

.acte1 {

    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    position: relative;
}

.musique1 {
    position: absolute;
    z-index: 0;
}

.nuage {
    background-image: url(assets/nuage.png);
    z-index: 1;
}

.arbre {
    position: absolute;
    z-index: 2;
    width: 1597px;
    height: 900px;
    right: 0%;
    top: -12%;

}

.herbe {
    background-image: url(assets/herbe.png);
    z-index: 3;
    position: absolute;
    height: 100vh;
    width: 100vw;
}

.fenetre {
    z-index: 4;
    position: absolute;

}

.texte1 {

    position: absolute;
    z-index: 4;
    font-size: 55px;
    text-align: left;
    top: 34%;
    transform: translateY(-50%);
    font-family: 'TypoTFC', system-ui, -apple-system;
    right: 6%;
    max-width: 18ch;


}

.lampe {
    z-index: 5;
    position: absolute;
}

.etirement {
    z-index: 6;
    position: absolute;
    width: 1525px;
    height: 865px;

    right: 19%;
    top: 9%;

}

.maison {
    z-index: 7;
    position: absolute;

}



.acte2 {
    position: absolute;
    z-index: 8;
    background-color: #B99CD3;
}

.nuage2 {
    background-image: url(assets/nuage_acte2.png);
    position: absolute;
    z-index: 1;
    width: 1536px;
    height: 1286px;
    right: 0%;
    top: 0%;
}

.arbre2 {
    z-index: 2;
    position: absolute;
    width: 2604px;
    height: 855px;
    background-size: contain;
    right: 0.6%;
    top: -9%;

}

.exploratrice {
    z-index: 3;
    position: absolute;
    width: 100vw;
    height: 100vh;
    right: 18%;
    top: 15%;
}

.plante2 {
    background-image: url(assets/plante_acte2.png);
    z-index: 4;
    position: absolute;
    height: 100vh;
    width: 100vw;
    right: 0%;
    top: 0%;
}

.herbepivot1 {
    background-image: url(assets/herbe_Pivot1.png);
    z-index: 5;
    position: absolute;
    height: 100vh;
    width: 100vw;
    right: 0%;
    top: 0%;
    transform-origin: 45% 90%;
}

.herbepivot2 {
    background-image: url(assets/herbe_Pivot2.png);
    z-index: 5;
    position: absolute;
    height: 100vh;
    width: 100vw;
    right: 0%;
    top: 0%;
    transform-origin: 45% 90%;
}

.pluie {
    background-image: url(assets/pluie.gif);
    z-index: 3;
    position: absolute;
    height: 100vh;
    width: 100vw;
    right: 0%;
    top: 0%;
    opacity: 0.5;
}

.herbe2 {
    background-image: url(assets/herbe_acte2.png);
    z-index: 6;
    position: absolute;
    height: 100vh;
    width: 100vw;
    right: 0.5%;
    top: 0%;
}

.texte2 {
    position: absolute;
    z-index: 7;
    font-size: 55px;
    text-align: left;
    top: 75%;
    transform: translateY(-50%);
    font-family: 'TypoTFC', system-ui, -apple-system;
    right: 11%;
    max-width: 18ch;
}


.acte3 {
    position: absolute;
    z-index: 8;
    opacity: 0;
    background-color: #FFFFFF;

}

.requin {
    background-image: url(assets/requin.png);
    z-index: 1;
    position: absolute;
    height: 100vh;
    width: 100vw;
    right: 0%;
    top: 0%;


}

.eau {
    background-image: url(assets/eau.png);
    z-index: 2;
    position: absolute;
    height: 100vh;
    width: 100vw;
    right: 0%;
    top: 0%;



}

.poisson_couleur {

    z-index: 5;
    position: absolute;
    height: 100vh;
    width: 100vw;
    right: 0%;
    top: 0%;
}

.poisson_gris {
    z-index: 4;
    position: absolute;
    height: 100vh;
    width: 100vw;
    right: 0%;
    top: 0%;
}



.jellyfish {
    position: absolute;
    z-index: 6;
    width: 180px;
    height: auto;
    pointer-events: none;
}

.jellyfish-1 {
    top: 15%;
    left: 50%;
    width: 800px;
}

.jellyfish-2 {
    top: 45%;
    left: 10%;
    width: 925px;
}

.jellyfish-3 {
    top: 62%;
    left: 52%;
    width: 500px;
}

.jellyfish-4 {
    top: 25%;
    left: 28%;
    width: 1000px;
}


.jellyfish-5 {
    top: 12%;
    left: 20%;
    width: 480px;
}



.jellyfish-6 {
    top: 35%;
    left: 50%;
    width: 655px;
}


.jellyfish-7 {
    top: 18%;
    left: 32%;
    width: 700px;
}


.jellyfish-8 {
    top: 55%;
    left: 38%;
    width: 660px;
}


.jellyfish-9 {
    top: 35%;
    left: 18%;
    width: 720px;
}


.jellyfish-10 {
    top: 42%;
    left: 28%;
    width: 620px;
}

.nage {
    z-index: 3;
    position: absolute;
    height: 1597px;
    width: 1487px;
    right: -4%;
    top: -72%;
    scale: 0.7;
}

.bulle {
    z-index: 7;
    position: absolute;
    height: 50vh;
    width: 50vw;
    top: 10%;
}

.texte3 {
    position: absolute;
    z-index: 8;
    font-size: 55px;
    text-align: left;
    top: 27%;
    transform: translateY(-50%);
    font-family: 'TypoTFC', system-ui, -apple-system;
    right: 60%;
    max-width: 18ch;
}

.acte4 {
    position: absolute;
    z-index: 9;
    opacity: 0;
    background-color: #FF96BA;
}

.scene {
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    right: 0%;
    top: 0%;
}

.danceuse {
    position: absolute;
    z-index: 2;
    width: 2360px;
    height: 1640px;
    right: -29%;
    top: -59%;
    scale: 0.3;
}

.fleur1 {
    position: absolute;
    z-index: 3;
    width: 2360px;
    height: 1640px;
    right: -19%;
    top: -59%;
    scale: 0.3;
}

.fleur2 {
    position: absolute;
    z-index: 3;
    width: 2360px;
    height: 1640px;
    right: -50%;
    top: -59%;
    scale: 0.3;
}

.fleur3 {
    position: absolute;
    z-index: 3;
    width: 2360px;
    height: 1640px;
    right: -49%;
    top: -60%;
    scale: 0.3;
}

.fleur4 {
    position: absolute;
    z-index: 3;
    width: 2360px;
    height: 1640px;
    right: 30%;
    top: -75%;
    scale: 0.3;
}

.fleur5 {
    position: absolute;
    z-index: 3;
    width: 2360px;
    height: 1640px;
    right: 20%;
    top: -80%;
    scale: 0.3;
}

.fleur6 {
    position: absolute;
    z-index: 3;
    width: 2360px;
    height: 1640px;
    right: 25%;
    top: -85%;
    scale: 0.3;
}

.fleur {
    position: absolute;
    z-index: 3;
    width: 2360px;
    height: 1640px;
    right: -59%;
    top: -59%;
    scale: 0.3;
}

.tas1 {
    position: absolute;
    z-index: 4;
    width: 2360px;
    height: 1640px;
    right: -29%;
    top: -59%;
    scale: 0.3;
    opacity: 0;
}

.tas2 {
    position: absolute;
    z-index: 4;
    width: 2360px;
    height: 1640px;
    right: -29%;
    top: -59%;
    scale: 0.3;
    opacity: 0;
}

.tas3 {
    position: absolute;
    z-index: 4;
    width: 2360px;
    height: 1640px;
    right: -29%;
    top: -59%;
    scale: 0.3;
    opacity: 0;
}

.texte4 {
    position: absolute;
    z-index: 5;
    font-size: 39px;
    text-align: left;
    top: 28%;
    transform: translateY(-50%);
    font-family: 'TypoTFC', system-ui, -apple-system;
    right: 49%;
    max-width: 18ch;
}

.rideaux1 {
    position: absolute;
    z-index: 6;
    width: 2360px;
    height: 1640px;
    right: 0%;
    top: -64%;
    scale: 0.6;
}

.rideaux2 {
    position: absolute;
    z-index: 6;
    width: 2360px;
    height: 1640px;
    right: -65%;
    top: -64%;
    scale: 0.6;
}

.acte5 {
    position: absolute;
    z-index: 9;
    opacity: 0;
    background-color: #B99CD3;
}

.fenetre2 {
    position: absolute;
    z-index: 10;
    width: 2222px;
    height: 1217px;
    right: -29%;
    top: -35%;
    scale: 0.5;
}

.lit {
    position: absolute;
    z-index: 11;
    width: 2360px;
    height: 1640px;
    right: -33%;
    top: -44%;
    scale: 0.4;
}

.levé {
    position: absolute;
    z-index: 12;
    width: 2360px;
    height: 1640px;
    right: -32%;
    top: -48%;
    scale: 0.3;
}

.facade {
    position: absolute;
    z-index: 13;
    width: 2241px;
    height: 960px;
    right: -31%;
    top: -19%;
    scale: 0.6;
    opacity: 1;
}

.texte5 {
    position: absolute;
    z-index: 14;
    font-size: 55px;
    text-align: left;
    top: 30%;
    transform: translateY(-50%);
    font-family: 'TypoTFC', system-ui, -apple-system;
    right: 24%;
    max-width: 18ch;
}

.rideaux3 {
    position: absolute;
    z-index: 15;
    width: 2360px;
    height: 1640px;
    right: -32%;
    top: -64%;
    scale: 0.6;
}

.rideaux4 {
    position: absolute;
    z-index: 16;
    width: 2360px;
    height: 1640px;
    right: -32%;
    top: -64%;
    scale: 0.6;
}




@media (max-width: 1200px) {
img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

    .texte1,
    .texte2,
    .texte3,
    .texte4,
    .texte5 {
        font-size: 20px;
        top: 45%;

}

.arbre2,.pluie{
    top:13%;
    left: -30%;
}

.nuage2{
    top: 28%;
}


.exploratrice{
top: 7%
}

.arbre{
    top: 5%; 
}



.nage{
    top: -40%;
}


.jellyfish,
.jellyfish-1,
.jellyfish-2,
.jellyfish-3,
.jellyfish-4,
.jellyfish-5,
.jellyfish-6,
.jellyfish-7,
.jellyfish-8,
.jellyfish-9,
.jellyfish-10{
    top: 30%;
    right: 15%;
}

.scene{
    top:-6%;
}

.danceuse,
.rideaux1,
.rideaux2,
.fleur,
.fleur2,
.fleur3,
.fleur4,
.fleur5,
.fleur6,
.tas1,
.tas2,
.tas3{
    top: -40%;
}
.rideaux1{
  right: 10%;
}  

.danceuse,
.tas1,
.tas2,
.tas3{
left: 10%;
}


.rideaux3{
    top: -40%;
left: 60%;
}

.rideaux4{
    top: -40%;
}

.facade{
    top: -7%;
    right: 2%;
}

.fenetre2{
    right: 2%;
    top: -17%;
}

.levé,
.lit{
    right: 2%;
    top: -35%;
}


.acte1::before {
    content: "";
    left: 0;
    margin-bottom: 80%;
    width: 100%;
    height: 30%;
    background: #ffffff;
    z-index: 10;
}

.acte1::after {
    content: "";
    position: absolute;
    margin-top: 80%;
    left: 0;
    width: 100%;
    height: 30%;
    background: #ffffff;
    z-index: 10;
}

.acte2::before {
    content: "";
    left: 0;
    margin-bottom: 80%;
    width: 100%;
    height: 30%;
    background: #B99CD3;
    z-index: 10;
}

.acte2::after {
    content: "";
    position: absolute;
    margin-top: 80%;
    left: 0;
    width: 100%;
    height: 30%;
    background: #B99CD3;
    z-index: 10;
}

.acte3::before {
    content: "";
    left: 0;
    margin-bottom: 80%;
    width: 100%;
    height: 30%;
    background: #366A79;
    z-index: 10;
}

.acte3::after {
    content: "";
    position: absolute;
    margin-top: 80%;
    left: 0;
    width: 100%;
    height: 30%;
    background: #366A79;
    z-index: 10;
}
.acte4::before {
    content: "";
    left: 0;
    margin-bottom: 80%;
    width: 100%;
    height: 30%;
    background: #FF96BA;
    z-index: 10;
}

.acte4::after {
    content: "";
    position: absolute;
    margin-top: 80%;
    left: 0;
    width: 100%;
    height: 30%;
    background: #FF96BA;
    z-index: 10;
}


}




@media (max-width: 850px){



.acte2::before {
    content: "";
    left: 0;
    margin-bottom: 100%;
    width: 100%;
    height: 20%;
    background: #B99CD3;
    z-index: 10;
}

.acte2::after {
    content: "";
    position: absolute;
    margin-top: 100%;
    left: 0;
    width: 100%;
    height: 37%;
    background: #B99CD3;
    z-index: 10;
}

.acte3::before {
    content: "";
    left: 0;
    margin-bottom: 110%;
    width: 100%;
    height: 35%;
    background: #366A79;
    z-index: 10;
}

.acte3::after {
    content: "";
    position: absolute;
    margin-top: 110%;
    left: 0;
    width: 100%;
    height: 37%;
    background: #366A79;
    z-index: 10;
}
.acte4::before {
    content: "";
    left: 0;
    margin-bottom: 100%;
    width: 100%;
    height: 25%;
    background: #FF96BA;
    z-index: 10;
}

.acte4::after {
    content: "";
    position: absolute;
    margin-top: 100%;
    left: 0;
    width: 100%;
    height: 37%;
    background: #FF96BA;
    z-index: 10;
}

}


@media (max-width: 600px){

.acte2::before {
    content: "";
    left: 0;
    margin-bottom: 130%;
    width: 100%;
    height: 45%;
    background: #B99CD3;
    z-index: 10;
}

.acte2::after {
    content: "";
    position: absolute;
    margin-top: 130%;
    left: 0;
    width: 100%;
    height: 45%;
    background: #B99CD3;
    z-index: 10;
}

.acte3::before {
    content: "";
    left: 0;
    margin-bottom: 130%;
    width: 100%;
    height: 45%;
    background: #366A79;
    z-index: 10;
}

.acte3::after {
    content: "";
    position: absolute;
    margin-top: 130%;
    left: 0;
    width: 100%;
    height: 45%;
    background: #366A79;
    z-index: 10;
}
.acte4::before {
    content: "";
    left: 0;
    margin-bottom: 130%;
    width: 100%;
    height: 45%;
    background: #FF96BA;
    z-index: 10;
}

.acte4::after {
    content: "";
    position: absolute;
    margin-top: 130%;
    left: 0;
    width: 100%;
    height: 20%;
    background: #FF96BA;
    z-index: 10;
}
}

